<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Danh sách đánh giá</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Trang chủ</li>
                            <li class="breadcrumb-item">Đánh giá</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row my-3">
                        <div class="col-sm-6 form-inline justify-content-start">
                            <label class="pr-2">Tìm kiếm:</label>
                            <input type="text" class="form-control" ng-model="search" placeholder="Nhập tìm kiếm..." />
                        </div>
                        <div class="col-sm-6 form-inline justify-content-end">
                            <button type="button" class="btn btn-sm btn-secondary" id="saveAsExcel">
                                <i class="fa-regular fa-file-export"></i> Excel
                            </button>
                        </div>
                    </div>
                    <table id="table" class="table table-bordered dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th class="d-none">Mã ID</th>
                                <th>Đơn hàng</th>
                                <th>Nội dung</th>
                                <th>Điểm số</th>
                                <th>Trạng thái</th>
                                <th>Đăng lúc</th>
                                <th>Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in filteredItems | filter:search">
                                <td class="d-none">{{item.id}}</td>
                                <td>{{item.orderDetail.id}}</td>
                                <td>{{item.content}}</td>
                                <td>{{item.mark}}</td>
                                <td>{{item.enable}}</td>
                                <td>{{item.createdAt | date: 'HH:mm - dd/MM/yyyy'}}</td>
                                <td>
                                    <a href="admin/#!/review-form" ng-click="edit(item)">
                                        <i class="las la-pen text-info"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>