<div class="breadcrumb-area mb-60">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="checkout-wrapper pt-10 pb-70" ng-mousemove="findUserAndProd()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <main id="primary" class="site-main">
                    <div class="checkout-area">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-7">
                                <div class="checkout-form">
                                    <div class="section-title left-aligned">
                                        <h3>Chi tiết thanh toán</h3>
                                    </div>

                                    <form action="#">
                                        <div class="row g-2 mb-3">
                                            <div class="mb-3 col-12 col-sm-12 col-md-12">
                                                <label for="full_name">Họ và tên <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="userid.fullname"
                                                    id="full_name" required>
                                            </div>
                                        </div>
                                        <div class="row g-2 mb-3">
                                            <div class="mb-3 col-12 col-sm-12 col-md-6">
                                                <label for="tel_number">Số điện thoại <span
                                                        class="text-danger">*</span></label>
                                                <input type="tel" class="form-control" ng-model="userid.phone"
                                                    id="tel_number">
                                            </div>
                                            <div class="mb-3 col-12 col-sm-12 col-md-6">
                                                <label for="email_address">Email <span
                                                        class="text-danger">*</span></label>
                                                <input type="email" class="form-control" ng-model="userid.email"
                                                    id="email_address" required>
                                            </div>
                                        </div>
                                        <div class="row g-2 mb-3">
                                            <div class="mb-3 col-12">
                                                <label for="p_address">Địa chỉ <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="userid.address"
                                                    id="p_address" required>
                                            </div>
                                        </div>
                                        <div class="row g-2 mb-3">
                                            <div class="form-group col-12">
                                                <label for="order_notes">Ghi chú đơn hàng</label>
                                                <textarea class="form-control" id="order_notes"
                                                    placeholder="Ghi chú cho đơn hàng của bạn."></textarea>
                                            </div>
                                        </div>
                                        <div class="row" hidden>
                                            <div class="mb-3 col-12 col-sm-12 col-md-12">
                                                <label for="first_name">Orderid <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="order.id"
                                                    id="first_name" required>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                <div class="order-summary">
                                    <div class="section-title left-aligned">
                                        <h3>Đơn hàng của bạn</h3>
                                    </div>
                                    <div class="product-container">
                                        <div class="product-list" ng-repeat="(key, item) in cart.values">
                                            <div class="product-inner d-flex align-items-center">
                                                <div class="product-image me-4 me-sm-5 me-md-4 me-lg-5">
                                                    <a href="#">
                                                        <img src="{{item.image}}" referrerpolicy="no-referrer">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h5>{{item.name}}</h5>
                                                    <p class="product-quantity">Quantity: {{item.quantity}}</p>
                                                    <p class="product-final-price">{{item.price}}đ</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-review">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr class="order-total">
                                                        <th>Tổng</th>
                                                        <td class="text-center"><strong>{{cart.total}}₫</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="checkout-payment">
                                        <form action="#">
                                            <div class="form-row">
                                                <div class="form-check">
                                                    <div class="custom-checkbox">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="terms_acceptance" required>
                                                        <span class="checkmark"></span>
                                                        <label class="form-check-label" for="terms_acceptance">Tôi
                                                            đồng ý với các điều khoản dịch vụ và sẽ tuân thủ chúng
                                                            một cách vô điều kiện.</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row justify-content-end">
                                                <a href="#!checkout" ng-click="checkout()"
                                                    class="btn btn-secondary dark py-2">Thanh toán</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>