<div class="product-wrapper fix pb-70">
    <div class="container-fluid">
        <div class="section-title product-spacing hm-11">
            <h3><span>Sản phẩm</span></h3>
            <div class="boxx-tab">
                <ul class="nav my-tab" role="tablist">
                    <li role="presentation">
                        <button class="active" type="button" id="one-tab" data-bs-toggle="tab" data-bs-target="#one"
                            role="tab" aria-controls="one" aria-selected="true">Laptop</button>
                    </li>
                    <li role="presentation">
                        <button data-bs-toggle="tab" type="button" id="two-tab" data-bs-toggle="tab"
                            data-bs-target="#two" role="tab" aria-controls="two" aria-selected="false">Máy tính
                            thùng</button>
                    </li>
                    <li role="presentation">
                        <button data-bs-toggle="tab" type="button" id="three-tab" data-bs-toggle="tab"
                            data-bs-target="#three" role="tab" aria-controls="three" aria-selected="false">Điện
                            thoại</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                <div class="product-gallary-wrapper">
                    <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">
                        <div class="product-item" ng-repeat="item in items">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-1.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-2.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">{{item.company.name}}</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">{{item.name}}</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£{{item.price}}</span>
                                </div>
                                <button class="btn-cart" type="button" ng-click="addCart($event, item, $index)">add to
                                    cart</button>
                            </div>
                        </div>
                        <!-- <div class=" product-item">
                                    <div class="product-thumb">
                                        <a href="#!product">
                                            <img src="assets/img/product/product-3.jpg" class="pri-img" alt="">
                                            <img src="assets/img/product/product-4.jpg" class="sec-img" alt="">
                                        </a>
                                        <div class="box-label">
                                            <div class="label-product label_new">
                                                <span>new</span>
                                            </div>
                                            <div class="label-product label_sale">
                                                <span>-10%</span>
                                            </div>
                                        </div>
                                        <div class="action-links">
                                            <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                            <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <div class="manufacture-product">
                                            <p><a href="#!shop">jony</a></p>
                                        </div>
                                        <div class="product-name">
                                            <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price"><span class="special-price">£50.00</span></span>
                                            <span class="old-price"><del>£60.00</del></span>
                                        </div>
                                        <button class="btn-cart" type="button">add to cart</button>
                                    </div>
                            </div>
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="#!product">
                                        <img src="assets/img/product/product-5.jpg" class="pri-img" alt="">
                                        <img src="assets/img/product/product-6.jpg" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_new">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="#!shop">sumsang</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">£46.31</span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="#!product">
                                        <img src="assets/img/product/product-4.jpg" class="pri-img" alt="">
                                        <img src="assets/img/product/product-8.jpg" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_sale">
                                            <span>-10%</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="#!shop">toshiba</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">£78.31</span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="#!product">
                                        <img src="assets/img/product/product-9.jpg" class="pri-img" alt="">
                                        <img src="assets/img/product/product-10.jpg" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_sale">
                                            <span>-5%</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="#!shop">hitachi</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">£90.31</span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                <div class="product-gallary-wrapper">
                    <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-4.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-1.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-7%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">apple</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-9.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-10.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-5%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">jony</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£90.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-3.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-4.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">lg</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price"><span class="special-price">£50.00</span></span>
                                    <span class="old-price"><del>£60.00</del></span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-4.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-8.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">sumsang</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-5.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-6.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">hitachi</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£46.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                <div class="product-gallary-wrapper">
                    <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-11.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-12.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-7%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">sumsang</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-13.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-10.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-5%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">apple</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£90.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-7.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-4.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">jony</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price"><span class="special-price">£50.00</span></span>
                                    <span class="old-price"><del>£60.00</del></span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-7.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-2.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_sale">
                                        <span>-10%</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">sumsang</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£78.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="#!product">
                                    <img src="assets/img/product/product-4.jpg" class="pri-img" alt="">
                                    <img src="assets/img/product/product-1.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="action-links">
                                    <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                    <a href="#" title="Quick view"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="#!shop">apple</a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="#!product">jony XB10 Portable Wireless Speaker</a></h4>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">£46.31</span>
                                </div>
                                <button class="btn-cart" type="button">add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>