<div class="breadcrumb-area mb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tài khoản của tôi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-account-wrapper pb-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <main id="primary" class="site-main">
                    <div class="user-dashboard pb-50">
                        <div class="user-info mb-30">
                            <div class="row align-items-center no-gutters">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="single-info">
                                        <p class="user-name">Xin chào <span ng-bind="nameUser">NAME</span> <br>không
                                            phải {{nameUser}}? <a class="log-out" href="javascript:void(0)"
                                                ng-click="logout()">Đăng
                                                xuất</a></p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="single-info">
                                        <p>Cần sự trợ giúp? Liên hệ: <a href="#">nghienecomm@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-4">
                                    <div class="single-info justify-content-lg-center">
                                        <a class="btn btn-secondary" href="#!cart">Xem giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-dashboard">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                                    <ul class="nav flex-column dashboard-list" role="tablist">
                                        <li>
                                            <button class="nav-link" id="dashboard-tab" data-bs-toggle="tab"
                                                data-bs-target="#dashboard" role="tab" aria-controls="dashboard"
                                                aria-selected="false">Bảng điều khiển</button>
                                        </li>
                                        <li>
                                            <button class="nav-link active" id="add-tab" data-bs-toggle="tab"
                                                data-bs-target="#add" role="tab" aria-controls="add"
                                                aria-selected="true">Thêm sản phẩm</button>
                                        </li>
                                        <li>
                                            <button class="nav-link" id="orders-tab" data-bs-toggle="tab"
                                                data-bs-target="#orders" role="tab" aria-controls="orders"
                                                aria-selected="false">Đơn hàng đã mua</button>
                                        </li>
                                        <li>
                                            <button class="nav-link" id="orderssell-tab" data-bs-toggle="tab"
                                                data-bs-target="#orderssell" role="tab" aria-controls="orderssell"
                                                aria-selected="false">Đơn hàng cần xử lí</button>
                                        </li>
                                        <li>
                                            <button class="nav-link" id="account-details-tab" data-bs-toggle="tab"
                                                data-bs-target="#account-details" role="tab"
                                                aria-controls="account-details" aria-selected="false">Thông tin tài
                                                khoản</button>
                                        </li>
                                        <li>
                                            <button class="nav-link" id="changepass-tab" data-bs-toggle="tab"
                                                data-bs-target="#changepass" role="tab" aria-controls="changepass"
                                                aria-selected="false">Đổi mật khẩu</button>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="javascript:void(0)" ng-click="logout()">Đăng
                                                xuất</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                    <div class="tab-content dashboard-content">
                                        <div id="dashboard" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="dashboard-tab">
                                            <h3>Sản phẩm của tôi </h3>
                                            <table class="table  table-bordered dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Loại sản phẩm</th>
                                                        <th>Hãng</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Giá</th>
                                                        <th>Số lượng</th>
                                                        <th>Ảnh</th>
                                                        <th>Tuỳ chọn</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in productByUserId">
                                                        <td>{{item.category.name}}</td>
                                                        <td>{{item.company.name}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.price|number:0}}₫</td>
                                                        <td>{{item.quantity}}</td>
                                                        <td>
                                                            <img ng-src="{{item.image}}" width="15%">
                                                            <img ng-src="{{item.image}}" width="15%">
                                                        </td>
                                                        <td class="d-flex justify-content-around">
                                                            <a href="#">
                                                                <i class="lnr lnr-pencil"></i>
                                                            </a><a href="#">
                                                                <i class="lnr lnr-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="add" class="tab-pane fade show active" role="tabpanel"
                                            aria-labelledby="add-tab">
                                            <h3>Thêm sản phẩm</h3>
                                            <form>
                                                <div class="form-group row mb-3">
                                                    <input type="text" ng-model="product.user" hidden>
                                                    <label
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Loại
                                                        sản phẩm</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <select class="form-control" ng-model="product.category">
                                                            <option ng-repeat='item in cates' ng-value="{{item.id}}">
                                                                {{item.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Hãng</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <select class="form-control" ng-model="product.company">
                                                            <option ng-repeat='item in companys' ng-value="{{item.id}}">
                                                                {{item.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Tên
                                                        sản phẩm</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="text" class="form-control" ng-model="product.name"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Giá</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="number" class="form-control"
                                                            ng-model="product.price" min="0" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Số
                                                        lượng</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="number" class="form-control"
                                                            ng-model="product.quantity" min="0" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mã
                                                        giảm giá</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="number" class="form-control"
                                                            ng-model="product.discount" min="0">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mô
                                                        tả</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <textarea rows="4" class="form-control"
                                                            ng-init="product.description = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.'"
                                                            ng-model="product.description" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Ảnh</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="file" class="form-control" accept="image/*"
                                                            multiple>
                                                        <div id="myDIV"></div>
                                                        <input type="text" ng-model="product.image" id="imgs" hidden>
                                                    </div>
                                                </div>
                                                <div class="register-box d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-secondary"
                                                        ng-click="createProd()">Thêm</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="orders" class="tab-pane fade" role="tabpanel"
                                            ng-controller="order-ctrl" aria-labelledby="orders-tab">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                  <button class="nav-link active" id="nav-processing-tab1" data-bs-toggle="tab" data-bs-target="#nav-processing1" type="button" role="tab" aria-controls="nav-processing" aria-selected="true">Đang xử lí</button>
                                                  <button class="nav-link" id="nav-finished-tab1" data-bs-toggle="tab" data-bs-target="#nav-finished1" type="button" role="tab" aria-controls="nav-finished" aria-selected="false">Đã hoàn thành</button>
                                                  <button class="nav-link" id="nav-cancel-tab1" data-bs-toggle="tab" data-bs-target="#nav-cancel1" type="button" role="tab" aria-controls="nav-cancel" aria-selected="false">Đơn bị hủy</button>
                                                </div>
                                              </nav>
                                              <div class="tab-content" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-processing1" role="tabpanel" aria-labelledby="nav-processing-tab1" ng-init="loadOrderData()">
                                                    <div class="table-responsive">
                                                        <table class="table ">
                                                            <thead>
                                                                <tr>
                                                                    <th>Chi tiết</th>
                                                                    <th>Mã đơn hàng</th>
                                                                    <th>Ngày đặt</th>
                                                                    <th>Tổng tiền</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody ng-repeat="item in orders | orderBy : '+id' | filter : {status:1}">
                                                                <tr>
                                                                    <td><i class="lnr lnr-chevron-down-circle" style=" font-size : 24px;" ng-click="isRowCollapsed=!isRowCollapsed"></i></td>
                                                                    <td>{{item.id}}</td>
                                                                    <td>{{item.createdat | date: 'yyyy/MM/dd HH:mm'}}</td>
                                                                    <td>{{item.totalPrice | number:0}}</td>
                                                                    <td class="align-middle ">
                                                                        <a class="btn btn-dark" href="'#!/orderdetail"
                                                                            ng-click="detail(item)"> Xem chi tiết</a>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-repeat="detail in item.detail" ng-hide="isRowCollapsed">
                                                                    <td class="bg-warning">Sản phẩm</td>
                                                                    <td>Tên SP: {{detail.product.name}}</td>
                                                                    <td>Giảm giá: {{detail.product.discount}}%</td>
                                                                    <td>Giá bán: {{detail.product.price| number:0}}/1 SP</td>
                                                                    <td>
                                                                        <span class="badge bg-warning px-2" ng-if="detail.status == 1">Chờ xét duyệt</span>
                                                                        <span class="badge bg-primary px-2" ng-if="detail.status == 2">Đang xử lí</span>
                                                                        <span class="badge bg-danger px-2" ng-if="detail.status == 3">Đã hủy</span>
                                                                        <span class="badge bg-success px-2" ng-if="detail.status == 4">Đã hoàn thành</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-finished1" role="tabpanel" aria-labelledby="nav-finished-tab1" ng-init="loadOrderDetailByStatus(4)">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mã đơn hàng</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th>Số lượng</th>
                                                                    <th>Thành tiền</th>
                                                                    <th>Ngày đặt</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="item in orderFinish">
                                                                <td>{{item.order.id}}</td>
                                                                <td>{{item.product.name}}</td>
                                                                <td>{{item.quantity}}</td>
                                                                <td>{{item.price}}</td>
                                                                <td>{{item.order.createdat | date: 'yyyy/MM/dd HH:mm'}}</td>
                                                                <td>
                                                                    <span class="badge bg-warning px-2" ng-if="item.status == 1">Chờ xét duyệt</span>
                                                                    <span class="badge bg-primary px-2" ng-if="item.status == 2">Đang xử lí</span>
                                                                    <span class="badge bg-danger px-2" ng-if="item.status == 3">Đã hủy</span>
                                                                    <span class="badge bg-success px-2" ng-if="item.status == 4">Đã hoàn thành</span>
                                                                </td>
                                                                <td class="align-middle ">
                                                                    <a class="btn btn-dark" href="#!/orderdetail"
                                                                        ng-click="detail(item.order)"> Xem chi tiết</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-cancel1" role="tabpanel" aria-labelledby="nav-cancel-tab1" ng-init="loadOrderDetailByStatus(3)">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mã đơn hàng</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th>Số lượng</th>
                                                                    <th>Thành tiền</th>
                                                                    <th>Ngày đặt</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="item in orderCancel">
                                                                <td>{{item.order.id}}</td>
                                                                <td>{{item.product.name}}</td>
                                                                <td>{{item.quantity}}</td>
                                                                <td>{{item.price}}</td>
                                                                <td>{{item.order.createdat | date: 'yyyy/MM/dd HH:mm'}}</td>
                                                                <td>
                                                                    <span class="badge bg-warning px-2" ng-if="item.status == 1">Chờ xét duyệt</span>
                                                                    <span class="badge bg-primary px-2" ng-if="item.status == 2">Đang xử lí</span>
                                                                    <span class="badge bg-danger px-2" ng-if="item.status == 3">Đã hủy</span>
                                                                    <span class="badge bg-success px-2" ng-if="item.status == 4">Đã hoàn thành</span>
                                                                </td>
                                                                <td class="align-middle ">
                                                                    <a class="btn btn-dark" href="javascript:void(0)"
                                                                        ng-click="addCart(item.product)"> Đặt lại</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                              </div>
                                              
                                        </div>
                                        <div id="orderssell" class="tab-pane fade" role="tabpanel"
                                            ng-controller="order-ctrl" aria-labelledby="orderssell-tab">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                  <button class="nav-link active" id="nav-processing-tab" data-bs-toggle="tab" data-bs-target="#nav-processing" type="button" role="tab" aria-controls="nav-processing" aria-selected="true">Đang xử lí</button>
                                                  <button class="nav-link" id="nav-finished-tab" data-bs-toggle="tab" data-bs-target="#nav-finished" type="button" role="tab" aria-controls="nav-finished" aria-selected="false">Đã hoàn thành</button>
                                                  <button class="nav-link" id="nav-cancel-tab" data-bs-toggle="tab" data-bs-target="#nav-cancel" type="button" role="tab" aria-controls="nav-cancel" aria-selected="false">Đơn bị hủy</button>
                                                </div>
                                              </nav>
                                              <div class="tab-content" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-processing" role="tabpanel" aria-labelledby="nav-processing-tab"  ng-init="loadOrderSellerData()">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mã đơn hàng</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th>Số lượng</th>
                                                                    <th>Thành tiền</th>
                                                                    <th>Ngày đặt</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="item in orderseller | filter : filterSellerOrder">
                                                                <td>{{item.order.id}}</td>
                                                                <td>{{item.product.name}}</td>
                                                                <td>{{item.quantity}}</td>
                                                                <td>{{item.price}}</td>
                                                                <td>{{item.order.createdat | date: 'yyyy/MM/dd HH:mm'}}</td>
                                                                <td>
                                                                    <span class="badge bg-warning px-2" ng-if="item.status == 1">Chờ xét duyệt</span>
                                                                    <span class="badge bg-primary px-2" ng-if="item.status == 2">Đang xử lí</span>
                                                                    <span class="badge bg-danger px-2" ng-if="item.status == 3">Đã hủy</span>
                                                                    <span class="badge bg-success px-2" ng-if="item.status == 4">Đã hoàn thành</span>
                                                                </td>
                                                                <td class="align-middle ">
                                                                    <a class="btn btn-dark" href="#!/orderdetail"
                                                                        ng-click="detail(item.order)"> Xem chi tiết</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-finished" role="tabpanel" aria-labelledby="nav-finished-tab" >
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mã đơn hàng</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th>Số lượng</th>
                                                                    <th>Thành tiền</th>
                                                                    <th>Ngày đặt</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="item in orderseller | filter : {status : 4}">
                                                                <td>{{item.order.id}}</td>
                                                                <td>{{item.product.name}}</td>
                                                                <td>{{item.quantity}}</td>
                                                                <td>{{item.price}}</td>
                                                                <td>{{item.order.createdat | date: 'yyyy/MM/dd HH:mm'}}</td>
                                                                <td>
                                                                    <span class="badge bg-warning px-2" ng-if="item.status == 1">Chờ xét duyệt</span>
                                                                    <span class="badge bg-primary px-2" ng-if="item.status == 2">Đang xử lí</span>
                                                                    <span class="badge bg-danger px-2" ng-if="item.status == 3">Đã hủy</span>
                                                                    <span class="badge bg-success px-2" ng-if="item.status == 4">Đã hoàn thành</span>
                                                                </td>
                                                                <td class="align-middle ">
                                                                    <a class="btn btn-dark" href="#!/orderdetail"
                                                                        ng-click="detail(item.order)"> Xem chi tiết</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-cancel" role="tabpanel" aria-labelledby="nav-cancel-tab">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mã đơn hàng</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th>Số lượng</th>
                                                                    <th>Thành tiền</th>
                                                                    <th>Ngày đặt</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="item in orderseller | filter : {status : 3}">
                                                                <td>{{item.order.id}}</td>
                                                                <td>{{item.product.name}}</td>
                                                                <td>{{item.quantity}}</td>
                                                                <td>{{item.price}}</td>
                                                                <td>{{item.order.createdat | date: 'yyyy/MM/dd HH:mm'}}</td>
                                                                <td>
                                                                    <span class="badge bg-warning px-2" ng-if="item.status == 1">Chờ xét duyệt</span>
                                                                    <span class="badge bg-primary px-2" ng-if="item.status == 2">Đang xử lí</span>
                                                                    <span class="badge bg-danger px-2" ng-if="item.status == 3">Đã hủy</span>
                                                                    <span class="badge bg-success px-2" ng-if="item.status == 4">Đã hoàn thành</span>
                                                                </td>
                                                                <td class="align-middle ">
                                                                    <a class="btn btn-dark" href="#!/orderdetail"
                                                                        ng-click="detail(item.order)"> Xem chi tiết</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                              </div>
                                              
                                        </div>
                                        <div id="account-details" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="account-details-tab">
                                            <h3>Thông tin tài khoản </h3>
                                            <div class="login-form">
                                                <form>
                                                    <div class="form-group row mb-3 d-none">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">ID</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control"
                                                                ng-model="userdata.id" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Tài
                                                            khoản</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control"
                                                                ng-model="userdata.username" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3" hidden>
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mật
                                                            khẩu</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control"
                                                                ng-model="userdata.password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Họ
                                                            và tên</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control"
                                                                ng-model="userdata.fullname" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Số
                                                            điện thoại</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control"
                                                                ng-model="userdata.phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Địa
                                                            chỉ</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control"
                                                                ng-model="userdata.address" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Email</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control"
                                                                ng-model="userdata.email" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Ngày
                                                            sinh</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="date" class="form-control"
                                                                ng-model="userdata.birthday" placeholder="YYYY-MM-DD"
                                                                convert-date>
                                                        </div>
                                                    </div>
                                                    <div class="form-check row p-0 mt-3">
                                                        <div
                                                            class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-6 offset-lg-3">
                                                            <div class="custom-checkbox">
                                                                <input class="form-check-input" type="checkbox">
                                                                <span class="checkmark"></span>
                                                                <label class="form-check-label">Đăng ký nhận ưu đãi từ
                                                                    chúng tôi</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="register-box d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-secondary"
                                                            ng-click="updateInfo()">Cập nhật</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="changepass" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="changepass-tab">
                                            <h3>Thông tin tài khoản </h3>
                                            <div class="login-form">
                                                <form action="#">
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mật
                                                            khẩu hiện tại</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="password" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mật
                                                            khẩu mới</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="password" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Xác
                                                            nhận mật khẩu mới</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="password" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="register-box my-4">
                                                        <button type="submit" class="btn btn-secondary px-4 py-1">Cập
                                                            nhật</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
<script>
    const nextBtn = document.querySelectorAll(".btnNext");
    const prevBtn = document.querySelectorAll(".btnPrev");

    nextBtn.forEach(function (item, index) {
        item.addEventListener('click', function () {
            let id = index + 1;
            let tabElement = document.querySelectorAll("#myTab li a")[id];
            var lastTab = new bootstrap.Tab(tabElement);
            lastTab.show();
        });
    });

    prevBtn.forEach(function (item, index) {
        item.addEventListener('click', function () {
            let id = index;
            let tabElement = document.querySelectorAll("#myTab li a")[id];
            var lastTab = new bootstrap.Tab(tabElement);
            lastTab.show();
        });
    });
</script>