<div class="breadcrumb-area mb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cửa hàng</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper pt-35">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar-inner mb-30">
                    <div class="single-sidebar mb-45">
                        <div class="sidebar-inner-title mb-25">
                            <h3>Fillter by price</h3>
                        </div>
                        <div class="sidebar-content-box">
                            <div class="filter-price-content">
                                <form action="#" method="post">
                                    <div id="price-slider"
                                        class="price-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"
                                            style="left: 16.6667%; width: 79.1667%;"></div><span
                                            class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                            style="left: 16.6667%;"></span><span
                                            class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                            style="left: 95.8333%;"></span>
                                    </div>
                                    <div class="filter-price-wapper">
                                        <div class="filter-price-cont">
                                            <div class="input-type">
                                                <input id="min-price" readonly="" type="text">
                                            </div>
                                            <div class="input-type">
                                                <input id="max-price" readonly="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar mb-45">
                        <div class="sidebar-inner-title mb-25">
                            <h3>Categories</h3>
                        </div>
                        <div class="sidebar-content-box">
                            <div class="filter-attribute-container">
                                <ul>
                                    <li><a class="active" href="#!shop">Categories 1 (05)</a>
                                    </li>
                                    <li><a href="#!shop">Categories 2 (03)</a></li>
                                    <li><a href="#!shop">Categories 3 (10)</a></li>
                                    <li><a href="#!shop">Categories 4 (02)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar mb-45">
                        <div class="sidebar-inner-title mb-25">
                            <h3>Manufacturer</h3>
                        </div>
                        <div class="sidebar-content-box">
                            <div class="filter-attribute-container">
                                <ul>
                                    <li><a class="active" href="#!shop">Christian Dior (2)</a>
                                    </li>
                                    <li><a href="#!shop">ferragamo (7)</a></li>
                                    <li><a href="#!shop">hermes (7)</a></li>
                                    <li><a href="#!shop">louis vuitton (6)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar mb-45">
                        <div class="sidebar-inner-title mb-25">
                            <h3>Select by color</h3>
                        </div>
                        <div class="sidebar-content-box">
                            <div class="filter-attribute-container">
                                <ul>
                                    <li><a class="active" href="#!shop">Black (2)</a></li>
                                    <li><a href="#!shop">blue (7)</a></li>
                                    <li><a href="#!shop">brown (7)</a></li>
                                    <li><a href="#!shop">white (6)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-sidebar mb-30">
                    <div class="sidebar-thumb">
                        <a href="#"><img src="assets/img/banner/img-static-sidebar.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-first order-lg-last">
                <div class="product-shop-main-wrapper mb-50">
                    <div class="shop-baner-img mb-70">
                        <a href="#"><img src="assets/img/banner/category-image.jpg" alt=""></a>
                    </div>
                    <div class="shop-top-bar mb-30">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pagination-area">
                                    <p>Showing 1 to 12 of 12 (1 Pages)</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="top-bar-right">
                                    <div class="per-page">

                                    </div>
                                    <div class="product-short">
                                        <p>Sort By : </p>
                                        <select class="nice-select" name="sortby">
                                            <option value="trending">Relevance</option>
                                            <option value="sales">Name (A - Z)</option>
                                            <option value="sales">Name (Z - A)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="shop-product-wrap grid row">
                        <div class="col-lg-3 col-md-4 col-sm-6"
                            ng-repeat="product in products| filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                            <div class=" product-item mb-30">
                                <div class="product-thumb">
                                    <a href="#!product" ng-click="viewProduct($event, product)">
                                        <img ng-src="{{product.image}}" class="pri-img" alt="{{product.name}}"
                                            referrerpolicy="no-referrer" />
                                        <img ng-src="{{product.image}}" class="sec-img" alt="{{product.name}}"
                                            referrerpolicy="no-referrer" />
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_new">
                                            <span>mới</span>
                                        </div>
                                        <div class="label-product label_sale" ng-if="product.discount">
                                            <span>-{{product.discount}}%</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#!wishlist" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="#!shop">{{product.company.name}}</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="#!product"
                                                ng-click="viewProduct($event, product)">{{product.name}}</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">{{product.price|number:0}}₫</span>
                                    </div>
                                    <button class="btn-cart" type="button" ng-click="addCart(product)">
                                        Thêm vào giỏ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item"><button class="page-link" id="btnPreShop"
                                    ng-disabled="currentPage == 0"
                                    ng-click="currentPage=currentPage-1">Previous</button></li>
                            <li class="page-item">
                                <p class="page-link" id="numPageShop">{{currentPage+1}}/{{numberOfPages()}}</p>
                            </li>
                            <li class="page-item"><button class="page-link" id="btnNextShop"
                                    ng-disabled="currentPage >= getData().length/pageSize - 1"
                                    ng-click="currentPage=currentPage+1">Next</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop page main wrapper end -->