<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="container">
    <h3>RESTful - File Manager</h3>
    <div ng-app="app" ng-controller="ctrl">
        <!-- <label>
            Upload Files:
            <input id="prod-img" type="file" accept="image/*" multiple
                onchange="angular.element(this).scope().upload(this.files)">
        </label>
        <hr>
        <label ng-repeat="filename in filenames" title="Double click to delete">
            <img ng-src="{{url(filename)}}" ng-click="delete(filename)" width="300px">
        </label> -->
        <!-- <p id="img-text"></p> -->
        <input type="file" accept="image/*" id="link" multiple />
        <div>Hinh anh:</div>
        <div id="myDIV">
        </div>
        <div>
            <table>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in items">
                    <td>{{item.stt}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.image}}</td>
                    <td>
                        <button ng-click="edit($index)" class="btnEdit">Edit</button>
                    </td>
                </tr>
            </table>
            <input type="text" ng-model="imgdata1.stt" disabled>
            <input type="text" ng-model="imgdata1.name">
            <input type="text" ng-model="imgdata1.image" id="imgs">
            <div>
                <button ng-click="create()">Create</button>
                <button ng-click="update()">Update</button>
                <button ng-click="delete()">Delete</button>
                <button ng-click="reset()">Reset</button>
            </div>
        </div>
    </div>
    <script src="file-ctrl.js"></script>
</body>

</html>