<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body class="container">
    <h3>RESTful - File Manager</h3>
    <div id="Phi" ng-app="app" ng-controller="ctrl">
        <label>
            Upload Files:
            <input id="prod-img" type="file" accept="image/*" multiple
                onchange="angular.element(this).scope().upload(this.files)">
        </label>
        <hr>
        <label ng-repeat="filename in filenames" title="Double click to delete">
            <img ng-src="{{url(filename)}}" ng-click="delete(filename)" width="300px">
        </label>
        <p id="img-text"></p>
    </div>
    <script src="file-ctrl.js"></script>
</body>

</html>